<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ACM CITY COLLEGE </title>
    <link rel="stylesheet" href="style_home.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
  <header>
    <div class="text-content">
        <h2>ACM CITY COLLEGE</h2>
        <p>Student Registration Site & Login Site</p>
      </div>
    <nav class="navbar">
      <div class="buttons">
        <a href="/login"><input type="button" value="Login"></a>
        <a href="/register"><input type="button" value="Register"></a>
      </div>
    </nav>
  </header>
</body>
</html>